* {
  color: blueviolet;
}
.error {
  color: red;
}
.success {
  color: green;
}
#test {
  color: darkblue;
}
.font-styles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline;
  font-size: 50px;
}
